@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  overflow-x: hidden;
  overflow-y: scroll; 
  font-family: "Poppins", sans-serif;
}

#contact {
  background-image: url('/assets/images/contact-section/contact-form-background-shapes.png');
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 60vh;
}
